body {
    background-color: black;
}

header img {
    max-height: 1200px;
    
}


.cards{ 
    img{
        height: 400px;
    }

    .Cardio{
        padding: 50px;
    }   
    
}
@media only screen and (max-width: 990px) {
    .cards{
        .Cardio{
            padding: 0px;
            margin:  50px;
        }
    }
  }
  @media only screen and (max-width: 769px) {
    .cards{
        .Cardio{
            margin:50px;
            margin-left: 110px;
        }
    }
  }
